@model PetShopMVC.DTOs.OrderDTO

<h1>Order Details</h1>

<div>
    <h4>Order ID: @Model.Id</h4>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>
    <p>Order Total: @Model.OrderTotal</p>
    <p>Order Placed: @Model.OrderPlaced</p>
    <!-- Add more paragraphs for other order details -->
</div>
