@model PetShopMVC.Models.ProductViewModel

<h1>Detail Product</h1>

<div>
    <label>Name:</label>
    <span>@Model.ProductName</span>
</div>
<div>
    <label>Description:</label>
    <span>@Model.ProductDescription</span>
</div>
<div>
    <label>Image:</label>
    <span>@Model.ProductImage</span>
</div>
<div>
    <label>Price:</label>
    <span>@Model.ProductPrice</span>
</div>
<div>
    <label>Saling:</label>
    <span>@Model.IsSaling</span>
</div>
<div>
    <label>Category:</label>
    <span>@Model.CategoryId</span>
</div>
<div>
    <label>Pet Type:</label>
    <span>@Model.PetTypeId</span>
</div>
<div>
    
    <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@Model.ProductId">Add To Cart</a>
</div>

