@model PetShopsMVC.DTOs.BlogDTO

@{
    ViewData["Title"] = "Blog Details";
}

<h1>@Model.Title</h1>

<div>
    <img src="@Model.ImgUrl" alt="@Model.Title" style="width:100%;height:auto;" />
</div>
<div>
    <h3>@Model.Author</h3>
    <p>@Model.CreatedAt.ToString("dd/MM/yyyy")</p>
    <p>@Model.Content</p>
    <p>@Model.ContentDetail</p>
</div>


<a class="btn btn-secondary" href="@Url.Action("Edit", "Blog", new { id = Model.BlogId })">Edit</a>
<a class="btn btn-danger" href="@Url.Action("Delete", "Blog", new { id = Model.BlogId })">Delete</a>


<a class="btn btn-primary" href="@Url.Action("Index", "Blog")">Back to Blog List</a>
