@model PetShopsMVC.Models.Blogs

@{
    ViewData["Title"] = "Blog Details";
}

<div class="container py-5">
    <div class="row pt-5">
        <div class="col-lg-8">
            <div class="d-flex flex-column text-left mb-4">
                <h1 class="mb-3">@Model.Title</h1>
                <div class="meta mb-2">
                    <div><a href="#">@Model.CreatedAt.ToShortDateString()</a></div>
                    <div><a href="#">@Model.Author</a></div>
                    <div><img src="@Model.ImgUrl" alt=""></div>
                </div>
                <div class="mb-5">
                    <img class="img-fluid w-100 mb-4" style="height: 400px;" src="@Model.ImgUrl" alt="website template image">
                    <p>@Model.Content</p>
                    <div class="media bg-light mb-5 p-4 p-md-5">
                        <img src="images/reviewer-1.jpg" alt="website template image" class="img-fluid mr-4 mt-1" style="width: 80px;">
                        <div class="media-body">
                            <h5 class="mb-3">@Model.Author</h5>
                            <p class="m-0">@Model.ContentDetail</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
