@model List<PetShopsMVC.Models.Blogs>

@{
    ViewData["Title"] = "Blog";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="block-20 rounded">
                            <img src="@item.ImgUrl" alt="@item.Title">
                        </a>
                        <div class="text p-4">
                            <div class="meta mb-2">
                                <div><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">@item.CreatedAt.ToShortDateString()</a></div>
                                <div><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">@item.Author</a></div>
                            </div>
                            <h3 class="heading"><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId">@item.Content</a></h3>
                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.BlogId" class="blog-read">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
