@model PetShopsMVC.ViewModel.ContactSubscriberViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Contact Information and Subscribers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Contact ID</th>
            <th>Contact Name</th>
            <th>Contact Email</th>
            <th>Contact Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>@contact.Message</td>
            </tr>
        }
    </tbody>
</table>

<h2>Email Subscribers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Subscriber ID</th>
            <th>Subscriber Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscriber in Model.Subscribers)
        {
            <tr>
                <td>@subscriber.Id</td>
                <td>@subscriber.Email</td>
            </tr>
        }
    </tbody>
</table>
