@model IEnumerable<PetShopsMVC.Models.Blogs>

@{
    ViewData["Title"] = "GetAllBlogs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Blogs</h6>
                    <p>
                        <a asp-action="AddBlog">Create New</a>
                    </p>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.BlogId)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.ImgUrl)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Content)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.ContentDetail)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Author)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.IsHot)
                                    </th>
                                    
                                    <th></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                @Html.DisplayFor(modelItem => item.BlogId)
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </p>

                                        </td>
                                        <td class="align-middle text-center">
                                            <img style="width:100px;height:100px" src="@Html.DisplayFor(modelItem => item.ImgUrl)">
                                        </td>
                                       
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.Content)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.ContentDetail)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.IsHot)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "UpdateBlog", new { id = item.BlogId }) |
                                            @Html.ActionLink("Details", "GetBlog", new { id = item.BlogId }) |
                                            @Html.ActionLink("Delete", "DeleteBlog", new { id = item.BlogId })
                                        </td>
                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

