@model IEnumerable<PetShopsMVC.Models.Blogs>

@{
    ViewData["Title"] = "GetAllBlogs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>GetAllBlogs</h1>

<p>
    <a asp-action="AddBlog">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHot)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateBlog", new { id = item.BlogId }) |
                    @Html.ActionLink("Details", "GetBlog", new { id = item.BlogId }) |
                    @Html.ActionLink("Delete", "DeleteBlog", new { id = item.BlogId })
            </td>
        </tr>
}
    </tbody>
</table>
