@model PetShopsMVC.ViewModel.ContactSubscriberViewModel
@{
    Layout = "_LayoutAdmin";
}
<!-- Navbar -->

<!-- End Navbar -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                    Total Revenue
                                </p>
                                <h5 class="font-weight-bolder mb-0">
                                   @Model.TotalRevenue
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Users</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @Model.TotalUsers
                                    
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                    Total Products Sold
                                </p>
                                <h5 class="font-weight-bolder mb-0">
                                    @Model.TotalQuantityInOrderDetails
                                    
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  


</div>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Contact Information</h6>
                   
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Id
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Name
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Email
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Message
                                    </th>

                                    <th></th>
                                    <th class="text-secondary opacity-7"></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Contacts)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </p>

                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                       
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                       
                                        <td>

                                            <button style="background-color:dodgerblue;border:none;color:white;border-radius:10%">@Html.ActionLink("Delete", "DeleteContact", new { id = item.Id }, new { @style = "color: white;" })</button>
                                        </td>
                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Email Subscriber</h6>

                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Id
                                    </th>
                                   
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Email
                                    </th>
                                   

                                    <th></th>
                                    <th class="text-secondary opacity-7"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Subscribers)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </div>
                                        </td>
                                       
                                        <td class="align-middle text-center text-sm">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>

                                        <td>

                                            <button style="background-color:dodgerblue;border:none;color:white;border-radius:10%">@Html.ActionLink("Delete", "DeleteEmail", new { id = item.Id }, new { @style = "color: white;" })</button>
                                        </td>
                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






