@model IEnumerable<PetShopsMVC.Models.Products>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Products</h6>
                    <p>
                        <a asp-action="AddProduct">Create New</a>
                    </p>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.ProductId)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.ProductDescription)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.ProductImage)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Rating)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.IsSaling)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.CategoryId)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.PetTypeId)
                                    </th>
                                    <th></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                @Html.DisplayFor(modelItem => item.ProductId)
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </p>

                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            @Html.DisplayFor(modelItem => item.ProductDescription)
                                        </td>
                                        <td class="align-middle text-center">
                                            <img style="width:100px;height:100px" src="@Html.DisplayFor(modelItem => item.ProductImage)">
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.Rating)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.IsSaling)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.CategoryId)
                                        </td>
                                        <td class="align-middle text-center">
                                            @Html.DisplayFor(modelItem => item.PetTypeId)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditProduct", new { id = item.ProductId }) |
                                            @Html.ActionLink("Details", "GetProduct", new { id = item.ProductId }) |
                                            @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductId })
                                        </td>
                                    </tr>

                                }
                               

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


